* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calculadora {
    width: 410px;
    padding: 0 .5em .5em .5em;
    background-color: #c4c4c4c4;
    color:#000;
    display: flex;
    flex-direction: column;
}

#titulo {
    font-size: .8em;
    font-weight: 300;
    background-color: #ec843f;
    padding: 2px;
    margin: 0 -.6em 0 -.6em ;
}

#operacoes{
    text-align: right;
}

#operacoes-anteriores,
#operacoes-atuais{
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

#operacoes-anteriores{
    color: #777;
}

#operacoes-atuais{
    font-size: 2em;
    font-weight: 600;
}

#botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#botoes button{
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 1.2em;
    height: 4em;
    background-color: #DBDBDB; 
    cursor: pointer;   
}

#botoes .numero{
    background-color: #f3f3ff;
}

#botoes button:hover{
    background-color: #BABABA;
    border-color: #999;
}

#botoes #igual{
    grid-column: span 2;
    background-color: #75a5cb;
}

#botoes #igual:hover{
    background-color: #377db6;
}
